body {
  background-color: rgba(27,111,115,1);
}

.flex {
  display: flex;
}

.box {
  margin: 20vh auto;
  text-align: center;
  padding: 75px 15px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgba(255,200,59,1);
  max-width: 450px;
  box-shadow: 10px 10px 10px black;
}